main_file 	     = curricula-main
topics_rows_per_page = 26
topics_sem_per_page  = 2

outcomes_rows_per_page = 20
outcomes_sem_per_page  = 2

label_size = 20

ExtraDotItemStyle=shape=polygon,sides=4,peripheries=2,color=lightblue,style=filled

CoRequisiteStyle=color=gray81
RecommendedRequisiteStyle=color=green,arrowhead=invdot,arrowtail=invdot

recommended_prereq_flag	=1
corequisites_flag	=1
check_for_active_outcome=Y

cell=\cellcolor{gray!80}
row2=\rowcolor[gray]{0.85}
column2=>{\columncolor[gray]{.8}}
first_backgroud_flag=0

course_min_level = 1
course_max_level = 4

COL4LABS=lh
