CS = black,cornflowerblue
HU = black,chartreuse3
FG = black,chartreuse3
EG = black,chartreuse3
GH = black,chartreuse3
ET = black,tomato3

CB = black,honeydew3
AM = black,honeydew3
BI = black,honeydew3
CQ = black,honeydew3
QI = black,honeydew3

MA = black,honeydew3
IN = black,honeydew3

CF = black,lightskyblue1
ME = black,lightskyblue1
EN = black,lightskyblue1

XD = black,chartreuse3
BM = black,chartreuse3

AF = black,cornflowerblue
AE = black,chartreuse3
AB = black,chartreuse3
AC = black,tomato3

# IS does not appear simultaneously
CM = black,orange1

# IT does not appear simultaneously
CQ = black,yellow2 
ID = black,lightcoral
IS = black,orange1
IT = black,yellow2

<HASH name=colors_per_level>
1=>white
2=>yellow
3=>green
4=>gray
</HASH>