topics_rows_per_page=27
topics_sem_per_page = 2
macros_file = <STY-AREA>/bok-macros.sty,<STY-AREA>/LU-macros.sty, <LANG-AREA>/CS.sty/bok-macros.sty

<HASH name=AreaDescription>
CS=>Ciencia de la Computación
MC=>Matemática para Computación
CB=>Ciencias Básicas
CF=>Ciencias Físicas
CQ=>Ciencias Químicas
CM=>Ciencias Matemáticas
SE=>Ingeniería de Software
HW=>Hardware y Arquitectura
IT=>Tecnología de Información
TI=>Tecnología de Información
IS=>Sistemas de Información
OG=>Organización y Negocios
ET=>Empresas Tecnológicas
HU=>Humanidades
ID=>Idiomas
SY=>Sistémica
</HASH>