*.backup
*.zip
~*
.fuse_hidden*
*.fls
*.log
*.dvi
*.aux
*.bbl
*.blg
*.toc
*.out
*.xref
*.lof
*.log
*.lot
*.brf
*~ *.tmp
*.pdf
*.ps
*.bak
escritorio
*swp
.DS_Store
Curricula.Master/delete/temp.tex
Curricula.Master/log/*

Curricula.in/.DS_Store
Curricula.in/country/.DS_Store
Curricula.in/country/Peru/.DS_Store
Curricula.in/country/Peru/Computing/.DS_Store
Curricula.in/country/Peru/Computing/CS/.DS_Store
Curricula.Master/log/Peru-CS-MINEDU-time.txt
Curricula.Master/log/Peru-CS-SPC-time.txt
Curricula.Master/unified-curricula-main.tex
