*.backup
*.zip
~*
.fuse_hidden*
*.log
*.dvi
*.aux
*.bbl
*.blg
*.toc
*.out
*.xref
*.lof
*.log
*.lot
*.brf
*~ *.tmp
*.pdf
*.ps
*.bak
escritorio
*swp
Curricula.in/lang/English/CS.sty/bok-macros.sty
Curricula.in/lang/Espanol/CS.sty/bok-macros.sty
