SyllabusListOfDirs=BasicSciences,Computing/CS,Computing/IS,Enterpreneurship,BusinessAndManagement,Interdisciplinary,ForeignLanguages,GeneralEducation
SpiderChartAxes=HW,CS,SE,IS,IT,XD,BM,OG,MC,CB,CQ,FG,GE
my %type_of_graph = ("curves" => 1,
			     	 "spider" => 1);

<HASH name=type_of_graph>
curves=>1
spider=>1
</HASH>